<h1> Listing articles </h1>

<table>
	<tr>
		<th>ID (Só pra ver)</th>
		<th>Title</th>
		<th>Text</th>
		<th colspan="2"> </th>
	</tr>

	<% @articles.each do |article| %>
	<tr>
		<td><%= article.id %></td>
		<td><%= article.title %></td>
		<td><%= article.text %></td>
		<td><%= link_to "Show", article_path(article) %></td>
		<td><%= link_to "Edit", edit_article_path(article) %></td>
		<td><%= link_to "Destroy", article_path(article), method: :delete, data:{ confirm: "Are you sure?" } %></td>
	</tr>
	<% end %>

</table>

<%= link_to "New article", new_article_path %>